body {
    font-size: 16px;
    line-height: 20px;
    overflow-x: hidden;
    font-family: 'Teko', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    /*font-family: teko;*/
}

/* header-start */
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar-brand {
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    padding: 9px 0;
}

.nav-link {
    color: #000;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
}

.nav-link i {
    color: #b5a067;
    padding: 0 12px 0 0;
}

.btn-secondary {
    color: #fff;
    background-color: #b5a067;
    border-color: #b5a067;
    font-size: 16px;
    font-family: 'Teko', sans-serif;
    padding: 8px 24px;
    margin-right: 28px;
}

.btn-secondary:hover {
    color: #000;
    background-color: transparent;
    border-color: #565e64;

}

.nav-link:hover {
    color: #b5a067;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding-left: 38px;
    font-family: 'Teko', sans-serif;
    padding-top: 19px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b5a067;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
    background-color: #222a50;
    padding: 18px 35px;
    font-family: 'Teko', sans-serif;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #b5a067;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.icon1 a {
    padding-right: 25px;
}

a:hover {
    color: #b5a067;
}

i:hover {
    color: #b5a067;
}

.icon1 a:hover {
    color: #b5a067;
}


p {
    font-family: 'Poppins', sans-serif;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

/* header-end */
/* banner */
.box-banner h3 {
    font-size: 50px;
    margin: 3% auto;
    text-transform: capitalize;
    display: block;
}

/* .banner img{
    padding: 140px 0 0 0;
} */
.box-banner h1 {
    text-transform: uppercase;
    color: #b57819;
    ;
    font-size: 60px;
}

/* banner-responsive start */
@media screen and (max-width: 905px) {
    .box-banner h1 {
        font-size: 30px;
    }

    .box-banner h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 770px) {
    .box-banner h1 {
        font-size: 30px;
    }

    .box-banner h3 {
        font-size: 30px;
    }
}

@media screen and(max-width: 553px) {
    .box-banner h1 {
        padding: 10px 0 0 0;
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 410px) {
    .box-banner h3 {
        font-size: 20px;
        margin: 2% auto;
    }
}

/* banner responsive end */

/* box1 css start */
.box1 h5 {
    font-size: 50px;
    font-family: 'Stylish', sans-serif;
}

.box1 marquee,
.box2 marquee {
    width: 100%;
    height: 100%;
}

.box1 {
    margin: 5% 0;
}

.box1 figure img,
.box2 figure img {
    transition: 2s;
}

.box1 figure img:hover,
.box2 figure img:hover {
    transform: scale(1.05);
    z-index: 2;
}

.box1 h4,
.box2 h4 {
    margin-top: 10%;
    font-size: 30px;
}

.box1 p,
.box2 p {
    font-size: 20px;
}

.box1 button {
    background-color: #a96e39;
    margin-top: 10px;
}

.box1 button:hover {
    background-color: transparent;
    color: #000
}

.box2 button {
    margin-top: 10px;
    background-color: #a96e39;
}

.box2 button:hover {
    background-color: transparent;
    color: #000;
}

.box2 img {
    margin-bottom: 5%;
}

/* box1 css end */
/* responsive box1 */
@media screen and (max-width: 460px) {
    .box1 h4 {
        margin: 0;
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 848px) {
    .box1 p {
        font-size: 12px;
        text-align: center;
    }

    .box1 h4 {
        margin-top: 4%;
        text-align: center;
    }

    .box1 button {
        margin-left: 45%;
        margin-top: 3%;
    }
}

/* responsive box1 stop */

/* responsive box2 */
@media screen and (max-width: 848px) {
    .box2 p {
        font-size: 12px;
        text-align: center;
    }

    .box2 h4 {
        margin-top: 4%;
        text-align: center;
    }

    .box2 button {
        margin-left: 45%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
}

/* responsive box2 stop */

/* box3 css start */
.box3 ul {
    padding: 0;
}

.box3 li {
    list-style: none;
    font-family: 'Patrick Hand', cursive;
    text-align: center;

}

.box3 marquee {
    width: 100%;
    height: 100%;
}

.box3 h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
    text-align: center;
}

.box3 li a {
    color: #fff;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-decoration: none;
}

.box3 .carousel-caption {
    margin-bottom: 10%;
}

/* box3 css end */
/* responsive box3 start */
@media screen and (max-width: 848px) {
    .box3 .carousel-caption {
        margin-bottom: 5%;
    }

    .box3 h3 {

        font-size: 30px;

    }

    .box3 li {
        margin-top: 10px;
    }

    .box3 li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .box3 .carousel-caption {
        margin-bottom: 3%;
    }

    .box3 h3 {

        font-size: 20px;

    }

    .box3 li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 478px) {
    .box3 .carousel-caption {
        margin-bottom: 3%;
    }

    .box3 h3 {

        font-size: 20px;

    }

    .box3 li {
        margin-top: 4px;
    }

    .box3 li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 410px) {
    .box3 li {
        margin-top: 1px;
    }

    .box3 .carousel-caption {
        margin-bottom: 1%;
    }

    .box3 .carousel-caption {
        margin-bottom: -2%;
    }
}

/* resposive box3 end */

/* box4 css start */
.box4 .figure img {
    margin-left: 50%;
}

.box4 h6 {
    font-size: 34px;
}

/* box4 css end */

/* box5 css start */
.box5 {
    border: 2px solid #000;
    position: relative;
    overflow: hidden;

}

.box5 img {
    width: 100%;
    height: auto;
}

.box5 .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
}

.box5:hover .content {
    left: 0;

}

.box5 h3 {
    font-size: 20px;
    margin-top: 60%;
    line-height: 30px;
}

.box5 button {
    margin-top: 10%;
}

/* box5 css end */

/* box5 responsive start */
@media screen and (max-width: 647px) {
    .box5 h3 {
        font-size: 18px;
        margin-top: 27%;
        line-height: 20px;
    }
}

@media screen and (max-width: 482px) {
    .box5 h3 {
        font-size: 13px;
        margin-top: 5%;
        line-height: 15px;
        padding: 2px 0;
    }

}

@media screen and (max-width: 404px) {
    .box5 h3 {

        padding: 2px 0;
    }

}

/*  box5 responsive end */


/* box6 css start */

.box6 {
    border: 2px solid #000;
    position: relative;
    overflow: hidden;

}

.box6 img {
    width: 100%;
    height: auto;
}

.box6 .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
}

.box6:hover .content {
    top: 0;

}

.box6 h3 {
    font-size: 20px;
    margin-top: 60%;
    line-height: 30px;
}

.box6 button {
    margin-top: 10%;
}

/* box6 css end */
/* responsive box6 start */
@media screen and (max-width: 534px) {
    .box6 h3 {
        font-size: 17px;
        margin-top: 15%;
        line-height: 18px;
    }
}

/* responsive box6 end */
/* box7 css start */
.box7 {
    border: 2px solid #000;
    position: relative;
    overflow: hidden;

}

.box7 img {
    width: 100%;
    height: auto;
}

.box7 .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
}

.box7:hover .content {
    left: 0;

}

.box7 h3 {
    font-size: 20px;
    margin-top: 60%;
    line-height: 30px;
}

.box7 button {
    margin-top: 10%;
}

/* box6 css end */
/* responsive box7 start */
@media screen and (max-width: 647px) {
    .box7 h3 {
        font-size: 18px;
        margin-top: 27%;
        line-height: 20px;
    }
}

/* responsive box7 end */
.all-box {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.content h3 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}

.content button {
    background-color: #af884a;
}

/* footer */
.log img {
    width: 100px;
}

.log {
    text-align: center;
    padding: 30px 0 20px 0;
}

.foot h4 {
    color: #a96e39;
    padding: 5px 0 10px 0;
    text-transform: uppercase;
}

.foot h6 {
    color: #a96e39;
}

.foot p {
    font-size: 12px;
    padding: 1px 0 11px 0;
}

.root_img {
    display: flex;
}

.root_img img {
    width: 60px;
    padding: 3px;
    height: 60px;
    transition-duration: 10sec;
}


.footer-page {
    background-color: #000000;
    color: #fff;
}






.navigation i {
    color: #fff;
    padding-right: 10px;
    padding-left: 5px;
}

.footer-bottom {
    background-color: #2c2c2c;
    font-size: 8px;
}





.bottom {
    color: #a96e39;
    background-color: #0f0e0c;
    padding: 10px 0;
}


.bottom p {
    text-align: center;
    color: #a7651f;
    padding: 8px 0;
    font-size: 8px;
}

.root_img img {
    transition: 1s;
}

.root_img img:hover {
    transform: scale(1.5);
}

/* footer end */
/* footer-responsive start */
@media screen and (max-width: 767px) {
    .footer-page .foot h4 {
        text-align: center;

    }

    .footer-page .foot p {
        text-align: center;
    }

    .footer-page .foot h6 {
        text-align: center;
    }

    .root_img {
        display: inline-block;
    }
}

/* footer responsive end */

/* about us  */

.about_us_banner {
    background-image: url(../images/aboutus/pexels-photo-2291636.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 170px 0 70px 0;
    text-align: center;
    position: relative;
    z-index: 1;

}

.about_us_banner::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, .51);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.about_us_banner h1 {
    font-size: 77px;
    padding: 92px 0 0 0;
    color: #fff;
    z-index: 2;
    position: relative;

    /*    display: block;*/
}

.about_us_banner h4 {
    color: #fff;
    padding-bottom: 50px;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.about_us_banner a:hover {
    color: #cb8c28;
}

.about_us_banner a {
    text-decoration: none;
    color: #fff;
}

/*second*/
.about_who_we_are {
    padding: 65px 65px;
    background-color: #010134;
}

.win img {
    width: 100%;
    transition: transform .10s ease-in-out;
}
.win img:hover {
    transform: scale(1.05); 
    z-index: 2;
}

.vis p {
    transition: transform .10s ease-in-out;
}

.vis p:hover {
    transform: scale(1.10);
    z-index: 2;

}

.vis p {
    font-size: 14px;
    line-height: 20px;
    padding: 18px 40px;
    color: #ba7012;
}

.vis h5 {
    color: #fff;
    font-size: 16px;
    padding: 12px 0 0 16px;
}

.vis h4 {
    color: aliceblue;
    text-align: center;
    font-size: 23px;
}

.vis h2 {
    font-size: 52px;
    color: #e2d8d8;
    padding: 18px 0 0 39px;
}

.face {
    display: flex;
    text-align: center;
}

.face_icon {
    padding: 21px 32px;
    color: white;
}

.face_icon img {
    width: 35px;
    padding-bottom: 10px;
}

/*--------------------------------------------------------------------*/

.numberking {
    background-image: url(../images/aboutus/num_baner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    background-attachment: fixed;
    position: relative;
}

.numberking::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, .51);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 1;
}

.queen h3 {
    font-size: 85px;
    color: red;
}

/*.queen p::before{
    content:"";
    position:absolute;
    width:4px;
    height: 160px;
    background-color: #fff;
    top:20px;
    
}*/

.queen p {
    color: #fff;
    font-size: 20px;
    
}

.queen {

    text-align: center;
    position: relative;
    z-index: 2;

}

/*----------------------------*/

.about_log_brand {
    padding: 50px 0;
    text-align: center;
    padding: 50px 0 61px 0px;

}

.silver {
    display: flex;
    padding-left: 140px;
}

.ablogos img {
    width: 177px;
    height: 67px;
    border: 2px solid #aaa3a3;
    padding: 5px 17px;
}

.ablogos {
    padding: 16px 7px 5px 16px;
}

.ablogos:hover {
    transform: rotatey(360deg);
    transition: 2s;
    z-index: 1;
}


.about_log_brand h3 {
    text-align: center;
    padding: 0px 0 19px 0px;
    font-size: 56px;
    color: #a37214;
}

/*----------------------------------------*/


.rev_summary {

    margin: 0 auto;
    max-width: 800px;
    padding: 50px 0;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}


.right {
    text-align: right;
}


.xyz:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 80%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
    border-radius: 3px;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
    border-radius: 2px;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
    border-radius: 2px;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
    border-radius: 2px;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
    border-radius: 2px;
}


@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
}

.howtocalrate {
    padding-left: 35px;
    padding-top: 20px;
}

.howtocalrate h5 {
    padding: 14px 0px 22px 0;
    font-size: 27px;
    color: #e79b09;

}

/*----------------------------------------------*/
.news {
    background-image: url(../images/aboutus/P1JJG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 40px 0;
}

.news::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, .51);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.mail {
    padding: 26px 0 10px 0;
    position: relative;
    z-index: 2;
}

.map {
    position: relative;
    z-index: 2;
    /*   background-image: url(../images/P1JJG.jpg);
    background-size:cover;*/

}

.mail p {
    color: #bb7b28;
    padding: 25px 0;
}

.map p {
    margin: 0;
    padding: 66px 0 67px 0px;
}

.cross input[type="text"] {
    background-color: transparent;
    color: #cb8c28;
    border-bottom: 1px solid #cd8e2c;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 90px 2px 7px;
    margin: 1px 5px 0px 6px;
    position: relative;
    z-index: 2;
}

.cross input[type="submit"] {
    font-size: 18px;
    text-transform: uppercase;
    color: #b37525;
    border: 1px solid #b37629;
    padding: 4px 15px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

/*----------------------------------------*/
.usa_map {
    background-color: #e9edef;
    align-content: flex-start;
}

/*End of aboout us */

/* start of rooms */
.room-page img:hover {
    transition: 2s;
    transform: translate3d(22px, 40px, 20px);

}

.room-page {
    padding-top: 60px;
    padding-bottom: 150px;
}

.room-page h6 {
    color: #a96e39;
}

.d-room h6 {
    color: #a96e39;
}

.rooms {
    background-color: whitesmoke;
    font-family: 'Teko', sans-serif;
}

.boxx {
    display: flex;
    padding: 20px 0;
    margin-bottom: 0;
}

.boxx li {
    padding: 0 101px;

}

.boxx li a {
    color: #fff;
    text-decoration: none;
    color: #000;
}

.lb {
    border-style: solid;
    border-width: 0px 0px 0px 1px
}

.carousel-caption {
    margin-bottom: 150px;
}

.s-room img {
    width: 105%;
}

.d-room img {
    width: 105%;
}

.sig-room img {
    width: 105%;
}

.l-room img {
    width: 105%;
}

.room-btn {
    padding: 10px 20px;
    border: outset;
    background-color: #fff;
    text-decoration: none;

}

.room-btn:hover {
    color: #fff;
    background-color: #a96e39;
    transition: 1s;
    transform: translate3d(10px, 10px, 10px);

}

.boxx2 {
    margin-top: 125px;
}

.boxx2 h3 {
    display: inline-flex;
    margin-left: 180px;
    font-size: 14px;
}

.boxx3 h3 {
    display: inline-flex;
    margin-left: 180px;
    font-size: 13px;
}

.boxx2 p {
    font-size: 16px;
}

.boxx3 p {
    font-size: 16px;
}

.boxx3 h5 {
    font-size: 13px;
    margin-top: 80px;
}

.boxx3 h4 {
    font-size: 24px;
}

.dollar {
    font-size: 34px;
    margin-top: -8px;
    margin-left: 9px;
}

.sig-room {
    padding: 70px 0;
}

.s-room {
    padding: 70px 0;
}


.contacts {
    display: flex;
    margin-left: 23px;
    padding: 70px 0;
}

.boxx4 {
    text-transform: uppercase;
}

.boxx4 h4 {
    color: #a96e39;
}

.boxx4 h6 {
    color: #a96e39;
}

.boxx4 p {
    font-size: 13px;
}


.boxx4 img {
    width: 40%;
    padding-top: 7px;
    padding-right: 2px;
}

/* Home */
/*banner start ------------*/



.carousel-item h5 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    margin-bottom: 2%;
}

.carousel-item h2 {
    font-size: 72px;
    font-family: 'Teko', sans-serif;
}

.btn2 {
    text-transform: uppercase;
    border: 2px solid #b5a067;
    color: #b5a067;
    background-color: transparent;
    padding: 12px 30px;
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 25px;
}


.btn2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #b5a067;
    transform: translateX(-100%);
    transition: all 0.3s linear;
}

.btn2:hover:before {
    transform: translateX(0);
    z-index: -1;
}

.btn2:hover {
    color: #fff;
}

/*-----------------------------banner end*/

/*-----------------------------our rooms*/

.heading {
    padding-top: 20px;
}

.heading h2 {
    font-size: 110px;
    font-family: 'Teko', sans-serif;
    color: #c2c0d7;
}

.heading h5 {
    font-size: 41px;
    font-family: 'Teko', sans-serif;
    color: #151515;
    margin: -90px 0px 0px 49px;
    position: relative;

}

.heading h5::after {
    position: absolute;
    content: "";
    background-color: #c2c0d7;
    width: 61%;
    height: 1px;
    top: 25px;
    left: 37%;

}

.owl-carousel.owl-loaded {
    display: block;
    padding: 76px 0;
}

.item h4 {
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    color: #151515;
    text-align: center;
}

.item p {
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    color: #b5a067;
    text-align: center;
}

.edit {
    font-size: 18px;
    font-family: 'Teko', sans-serif;
    color: #9b9b9b;
    text-align: center;
}

.item {
    position: relative;
}

.effect {
    height: 0;
    opacity: 0;
    transition: 0.5s all;
}

.effect h3 {
    font-size: 32px;
    font-family: 'Teko', sans-serif;
    color: #b5a067;
    position: relative;
    top: -316px;
    z-index: 1;
    left: -67px;
    text-align: center;
}

.effect1 {
    font-family: 'Teko', sans-serif;
    color: #151515;
    position: relative;
    background-color: white;
    height: 125px;
    width: 117px;
    top: -250px;
    left: 15px;
    text-align: center;
    z-index: 1;
}

.effect1 h6 {
    font-size: 18px;
    color: #ee9810;
}

.effect1 h4 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 6px;
}

.effect::after {
    position: absolute;
    content: "";
    height: 353px;
    width: 1%;
    top: 0px;
    left: 0;
    background-color: #303233;
}

.effect:hover:after {
    position: absolute;
    content: "";
    height: 353px;
    width: 54%;
    top: 0px;
    left: 0;
    background-color: #303233;
    transition: 0.5s all;
}

.effect:hover {
    opacity: 1;
}

/*our rooms end*/
/*amenities*/

.heading1 {
    padding: 20px 0 60px;
}

.heading1 h2 {
    font-size: 110px;
    font-family: 'Teko', sans-serif;
    color: #c2c0d7;
    text-transform: uppercase;
}

.heading1 h5 {
    font-size: 41px;
    font-family: 'Teko', sans-serif;
    color: #151515;
    margin: -90px 0px 0px 235px;
    position: relative;
    text-transform: uppercase;
}

.heading1 h5::after {
    position: absolute;
    content: "";
    background-color: #c2c0d7;
    width: 72%;
    height: 1px;
    top: 25px;
    left: 25%;
}

.boy {
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
}

.content h3 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: #fff;
    padding-bottom: 26px;
    font-size: 30px;
}

.content p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 78px 0 0 0px;
    opacity: 0;
    transition: 1s;
}

.content:hover {
    opacity: 1;
}

.boy:hover {
    transform: rotatey(360deg);
    transition: 2s;
    z-index: 1;
}

/*---------------------------amenitiesend*/
/*---------------------------------book*/
.book {
    background-image: url(../images/home/backimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 0;
}

.boy3 {
    margin: 0 -25px 0 0px;
}

.boy3:hover {
    transform: scale(1.2);
    transition: 1s;
}

.boy2:hover {
    transform: scale(1.2);
    transition: 1s;
}

.boy2 {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0 0px 0 -29px;
    text-align: center;
    width: 100%;
    float: left;
}

.boy2 h2 {
    font-size: 49px;
    font-family: 'Teko', sans-serif;
    padding-bottom: 40px;
    padding-top: 14px;
    text-transform: uppercase;
}

.boy2 label {
    color: #bf8934;
    font-size: 16px;
    padding-bottom: 35px;
}

.buttom {
    text-transform: uppercase;
    border: 2px solid #b5a067;
    color: #b5a067;
    background-color: transparent;
    padding: 18px 35px;
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    margin-bottom: 30px;
}


.buttom::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #b5a067;
    transform: translateX(-100%);
    transition: all 0.3s linear;
}

.buttom:hover:before {
    transform: translateX(0);
    z-index: -1;
}

.buttom:hover {
    color: #fff;
}

/*---------------------book end*/
/*------------------------offer*/

.offer {
    padding: 60px 0px;
}

.heading2 {
    padding: 20px 0 60px;
}

.heading2 h2 {
    font-size: 110px;
    font-family: 'Teko', sans-serif;
    color: #c2c0d7;
    text-transform: uppercase;
}

.heading2 h5 {
    font-size: 41px;
    font-family: 'Teko', sans-serif;
    color: #151515;
    margin: -90px 0px 0px 235px;
    position: relative;
    text-transform: uppercase;

}

.heading2 h5::after {
    position: absolute;
    content: "";
    background-color: #c2c0d7;
    width: 65%;
    height: 1px;
    top: 23px;
    left: 29%;

}

.boy4 {
    background-color: #dba765;
    padding: 0 0;
    text-align: center;
    margin: 0 -24px 0 0;
}

.boy4 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px 0 18px 0;
    text-transform: uppercase;
    color: #fff;
}

.boy4 h4 {
    font-family: 'Teko', sans-serif;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.boy4 p {
    font-family: 'Poppins', sans-serif;
    padding: 0 0 31px;
    color: #fff;
}

.boy6 {
    background-color: #030302;
    padding: 0 0;
    text-align: center;
    margin: 0 -24px 0 0;
}

.boy6 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px 0 18px 0;
    text-transform: uppercase;
    color: #fff;
}

.boy6 h4 {
    font-family: 'Teko', sans-serif;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    color: #f59307;
    font-weight: 700;
    font-size: 22px;
}

.boy6 p {
    font-family: 'Poppins', sans-serif;
    padding: 0 0 31px;
    color: #fff;
}

.boy5 img {
    width: 100%;
}

.boy5:hover {
    transform: rotatey(180deg);
    transition: 2s;
}

.btn-primary1 {
    color: #fff;
    background-color: #000;
    border-color: #000;
    padding: 10px 40px;
    margin-bottom: 10%;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
}

.btn-primary1:hover {
    background-color: transparent;
    border-color: #000;
}

.btn-primary2 {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    padding: 10px 40px;
    margin-bottom: 10%;
    font-family: 'Teko', sans-serif;
}

.btn-primary2:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

/*offerend*/
/*expert*/

.expert {
    padding: 50px 0;
    background-color: #00093b;
    color: #fff;
    margin-bottom: 50px;
}

.ment {
    padding-left: 16px;
}

.ment h5 {
    font-size: 30px;
    position: relative;
    /*  padding-left: 17px;*/
}

.ment p {
    font-size: 12px;
    line-height: 16px;
    padding: 30px 0 50px 0;
}

.in {
    text-transform: uppercase;
    border: 2px solid #b5a067;
    color: #b5a067;
    background-color: transparent;
    padding: 16px 30px;
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    margin-bottom: 30px;
    display: inline-block;
}


.in::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #b5a067;
    transform: translateX(-100%);
    transition: all 0.3s linear;
}

.in:hover:before {
    transform: translateX(0);
    z-index: -1;
}

.in:hover {
    color: #fff;
}

.ment h5::before {
    position: absolute;
    content: "";
    width: 5px;
    top: 6px;
    left: -15px;
    right: 0px;
    bottom: 0px;
    background-color: #a96e39;
    height: 57px;
    border-radius: 2px;
}

.years {
    padding: 0px 76px 11px 8px;
    margin: 3px 7px 13px 7px;
}

.years img {
    width: 100%;
    height: auto;
}

.clnt {
    display: flex;

}

.clnt h3 {
    font-size: 90px;
}

.clnt1 h3 {
    padding-left: 0 0 0 0;
}

.clnt2 h3 {
    padding: 0 0 0 70px;
}

.clnt3 h3 {}

.clnt4 h3 {
    padding: 0 0 0 100px;
}

.clnt1 h6,
.clnt2 h6 {
    padding: 2px;
}

.clnt2 h6,
.clnt4 h6 {
    padding-left: 110px;
}

.clnt2 {
    position: relative;
}

.clnt2::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 3px;
    height: 257px;
    left: 31px;
    top: 16px;
}

.clnt4 {
    padding-top: 20px;
    position: relative;
}

.clnt3 {
    padding-top: 20px;
}

.clnt4::after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 296px;
    height: 3px;
    left: -78px;
    top: 9px;

}

.short {
    font-size: 60px;
}

/*--------------------------expert-end*/
/*------------------------testi*/
.heading1 {
    padding: 20px 0 60px;
}

.heading3 h2 {
    font-size: 110px;
    font-family: 'Teko', sans-serif;
    color: #c2c0d7;
    text-transform: uppercase;
}

.heading3 h5 {
    font-size: 41px;
    font-family: 'Teko', sans-serif;
    color: #151515;
    margin: -90px 0px 0px 235px;
    position: relative;
    text-transform: uppercase;
}

.heading3 h5::after {
    position: absolute;
    content: "";
    background-color: #c2c0d7;
    width: 65%;
    height: 1px;
    top: 25px;
    left: 35%;
}


.owl-carousel.owl-loaded {
    display: block;
    padding: 86px 30px;
}

.owl-quote-2 .owl-stage-outer {
    padding: 10px 10px 25px;
    margin: -10px -10px -25px;
}

.quote-modern {
    position: relative;
    text-align: left;
    padding: 30px 15px;
    letter-spacing: .025em;
    background: #ffffff;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.35));
}

.quote-modern::before {
    position: absolute;
    content: '';
    top: 96%;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 34px 0 0;
    border-color: #fff transparent;
}

.unit-spacing-md {
    margin-bottom: -20px;
    margin-left: -24px;
}

.unit {
    display: flex;
    margin-bottom: -20px;
    margin-left: -20px;
}

.align-items-center {
    align-items: center !important;
}

.unit-spacing-md > * {
    margin-bottom: 20px;
    margin-left: 24px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}


.img-circles {
    border-radius: 50%;
}

.unit-body {
    flex: 0 1 auto;
}

.quote-modern-cite {
    font-weight: 400;
    letter-spacing: .075em;
    font-size: 24px;
    text-transform: uppercase;
    color: #151515;
    font-family: 'Teko', sans-serif;
}

.quote-modern-2 .quote-modern-status {
    color: #b5a067;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    text-align: left;
}

.quote-modern-text {
    margin-top: 12px;
}

.q {
    color: #151515;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    text-align: left;
}

@media (min-width: 1200px) .quote-modern-custom {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 1200px) .quote-modern {
    padding: 52px 45px 44px;
}

@media (min-width: 992px) .quote-modern {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 576px) .quote-modern {
    padding: 40px 20px;
}
/*-------------------home end-----------------------------------*/
/* Gallery */

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color:#facf57;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%;
}
.carousel-caption.d-none.d-md-block p {
  font-size: 21px;
    color: #454545;
}
.format{
    color: #facf57;
}
.format1{
    color: #fff;
}
.carousel-caption.d-none.d-md-block h5 {
  font-size: 35px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 5.25rem;
  color: #fff;
  text-align: center;
}
.text {
  margin-left: 39px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.text h2 {
  font-size: 55px;
    color: #898989;
    z-index: 1;
}
.text h3 {
  font-size: 20px;
    margin-left: -9px;
    position: relative;
    
}
.text h3::before {
  position: absolute;
  content: "";
  width: 646px;
  height: 2px;
  top: 9px;
  right: 0;
  bottom: 0;
  left: 104px;
  background-color: #e6dfcc;
}

.text{
  margin-left: 39px;
  margin-top: 50px;
}



.item {
    margin: 40px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "one two three"
        "four five three"
       
}
.item1 {
    background-image: url(../images/gallery/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: one;
    margin-right: 5px;
    margin-bottom: 5px;
}

.item2 {
    background-image: url(../images/gallery/Untitled-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: two;
    margin-right: 5px;
    margin-bottom: 5px;
}

.item3 {
    background-image: url(../images/gallery/Untitled-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: three;
    margin-right: 5px;
    margin-bottom: 5px;
}

.item4 {
    background-image: url(../images/gallery/Untitled-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: four;
    margin-right: 5px;
    margin-bottom: 5px;
}

.item5 {
    background-image: url(../images/gallery/Untitled-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: five;
    margin-right: 5px;
    margin-bottom: 5px;
}
/*************************<gallery end************************/


/******************gallery2 start**************/
.item-box2{
    margin: 40px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "one two three"
        "four four four"
        "five six seven"
       
}
.team1 {
    background-image: url(../images/gallery/GALLERY2/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: one;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team2 {
    background-image: url(../images/gallery/GALLERY2/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: two;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team3 {
    background-image: url(../images/gallery/GALLERY2/Untitled-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: three;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team4 {
    background-image: url(../images/gallery/GALLERY2/Untitled-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: four;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team5{
    background-image: url(../images/gallery/GALLERY2/Untitled-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: five;
    margin-right: 5px;
    margin-bottom: 5px;
}
.team6{
    background-image: url(../images/gallery/GALLERY2/Untitled-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: six;
    margin-right: 5px;
    margin-bottom: 5px;
}
.team7{
    background-image: url(../images/gallery/GALLERY2/Untitled-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: seven;
    margin-right: 5px;
    margin-bottom: 5px;
}
.text2 {
  margin-left: 39px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.text2 h2 {
  font-size: 90px;
    color: #898989;
    z-index: 1;
}
.text2 h3 {
  font-size: 40px;
    margin-left: -147px;
    position: relative;
}
.text2 h3::before {
  position: absolute;
  content: "";
  width: 439px;
  height: 2px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 499px;
  background-color: #e6dfcc;
}

.text2{
  margin-left: 39px;
  margin-top: 50px;
}

/****************************gallery2 end***************************/

/**********************gallery3 start******************/
.item-box3{
    margin: 40px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "one two three"
        "four five six"
        "seven five eight"
        "nine ten eleven"
       
}
.team-end1 {
    background-image: url(../images/gallery/gallery3/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: one;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team-end2 {
    background-image: url(../images/gallery/gallery3/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: two;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team-end3 {
    background-image: url(../images/gallery/gallery3/Untitled-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: three;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team-end4 {
    background-image: url(../images/gallery/gallery3/Untitled-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: four;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team-end5{
    background-image: url(../images/gallery/gallery3/Untitled-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: five;
    margin-right: 5px;
    margin-bottom: 5px;
}
.team-end6{
    background-image: url(../images/gallery/gallery3/Untitled-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: six;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team-end7{
    background-image: url(../images/gallery/gallery3/Untitled-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: seven;
    margin-right: 5px;
    margin-bottom: 5px;
}
.team-end8 {
    background-image: url(../images/gallery/gallery3/Untitled-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: eight;
    margin-right: 5px;
    margin-bottom: 5px;
}

.team-end9{
    background-image: url(../images/gallery/gallery3/Untitled-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: nine;
    margin-right: 5px;
    margin-bottom: 5px;
}
.team-end10{
    background-image: url(../images/gallery/gallery3/Untitled-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: ten;
    margin-right: 5px;
    margin-bottom: 5px;
}
.team-end11{
    background-image: url(../images/gallery/gallery3/Untitled-11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: eleven;
    margin-right: 5px;
    margin-bottom: 5px;
}
.text3 {
  margin-left: 39px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.text3 h2 {
  font-size: 90px;
    color: #898989;
}
.text3 h3 {
  font-size: 40px;
    margin-left: -147px;
    position: relative;
}
.text3 h3::before {
  position: absolute;
  content: "";
  width: 602px;
  height: 2px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 340px;
  background-color: #e6dfcc;
}

.text3{
  margin-left: 39px;
  margin-top: 50px;
}


/**************************gallery3 end******************/

